:root {
    --primary-color: #f65e39;
}

* {
    box-sizing: inherit;
}

html {
    font-family: "Open Sans", sans-serif;
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}


/* CMT-HEADER-PADDING */

.header__search--padding {
    padding: 10px 16px;
}


/* ANIMATIONS  */

@keyframes primaryColorFadeIn {
    to {
        color: var(--primary-color);
    }
}


/* CONTAINER */

.mb--20 {
    margin-bottom: 20px;
}

.content-section {
    margin-top: 56px;
    padding: 0 45px;
}

.container-text-heading {
    font-size: 2.5rem;
    margin-bottom: 10px;
    height: 35px;
    line-height: 1.25;
}

.container-text-description {
    font-size: 1.5rem;
    margin-bottom: 2px;
    line-height: 1.5;
    height: 28px;
    color: #222;
}

.container-text-description a {
    color: #222;
}

.container-text-description a:hover {
    animation: primaryColorFadeIn linear 0.3s forwards;
}

.row {
    display: flex;
    padding: 0 45px;
}

.row--has-column {
    margin: 12px -8px 0;
    display: flex;
}

.column-2-4 {
    padding: 0 8px;
    width: calc(100% / 5);
}

.column-3 {
    padding: 0 8px;
    width: calc(100% / 4);
}

.column-4 {
    padding: 0 8px;
    width: calc(100% / 3);
}

.column-6 {
    padding: 0 8px;
    width: calc(100% / 2);
}

.ft-text {
    font-size: 1.4rem;
    color: #222222;
    line-height: 1.5;
}

.ft-text-bold {
    font-size: 1.3rem;
    color: #222222;
    font-weight: 900;
    line-height: 1.5;
}

.cursor-pointer {
    cursor: pointer;
}

.text-hover-primary-color:hover {
    animation: primaryColorFadeIn linear 0.3s forwards;
    cursor: pointer;
}